:root {
  --Pale-Blue: hsl(243, 100%, 93%);
  --Grayish-Blue: hsl(229, 7%, 55%);
  --Dark-Blue: hsl(228, 56%, 26%);
  --Very-Dark-Blue: hsl(229, 57%, 11%);
  --salmon: hsl(6, 100%, 80%);
  --pink: hsl(335, 100%, 65%);
}

body {
  font-family: "Raleway";
  font-size: 14px;
  box-sizing: border-box;
  background-image: url(./images/bg-desktop.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-color: var(--Very-Dark-Blue);
  margin: 0px auto;
  overflow: hidden;
  
}

main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 80vh;
}

.container {
  place-content: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  grid-template-rows: 1fr 1fr;
  justify-self: center;
  align-self: center;
  gap: 30px;
  align-items: end;
  padding: 0px 260px;
  width: 100%;
}

.section-one {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  background-color: var(--Dark-Blue);
  justify-content: start;
  border-top-left-radius: 12px;
  border-top-right-radius: 66px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  padding: 38px 132px 38px 40px;
}

.elements {
  display: inline-block;
  text-align: left;
}

.logo {
  width: auto;
  max-width: 100%;
  margin-bottom: 30px;
}

.elements-properties {
  display: flex;
  gap: 15px;
}

.properties-icon {
  border: solid;
  border-style: none;
  padding: 12px 14px;
  background-color: var(--Very-Dark-Blue);
  border-radius: 10px;
  max-width: 100%;
  width: 24px;
  height: 24px;
}

.section-two {
  background-color: var(--Dark-Blue);
  display: grid;
  grid-template-rows: 1fr 1fr;
  border-radius: 12px;
  color: var(--Pale-Blue);
  padding: 40px 40px;
  max-width: 543px;
  width: 100%;
  height: 154px;
}

.usage {
  text-align: left;
}

.counter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-weight: 700;
}

.section-three {
  background-color: white;
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  left: 50%;
  bottom: 254%;
  padding: 22px 25px;
  border-radius: 8px;
  width: fit-content;
}

.gb {
  font-size: 40px;
  font-weight: 700;
  margin: 0px;
  color: var(--Very-Dark-Blue);
}

.condition {
  font-size: 12px;
  font-weight: 700;
  color: var(--Grayish-Blue);
  text-transform: uppercase;
  margin: 0px;
}
.usage-meter {
  margin: 15px 0px;
}

.test {
  background-color: var(--Very-Dark-Blue);
  border-radius: 8px;
}

.empty {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    left: 246px;
    border: solid white;
}

.meter {
    background-color: var(--pink);
    max-width: 260px;
    border-radius: 8px;
    border: solid var(--Very-Dark-Blue);
}
    
.count-min {
  justify-self: left;
}

.count-max {
  justify-self: right;
}

@media only screen and (max-width: 1124px) {

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }

  .section-two {
    justify-content: center;
    padding: 10px 6px;
  }

  .section-three {
    bottom: -10%;
    justify-content: center;
    position: inherit;
    max-width: 150px;
    width: 100%;
  }

  body {
    overflow: scroll;
    padding: 26px;
    background-image: url(./images/bg-mobile.png);
  }

  .counter {
    font-size: 12px;
  }

  .usage {
    font-size: 12px;
    text-align: center;
  }

  .usage-meter {
    max-width: 250px;
  }

  .meter {
    max-width: 150px;
  }

  .empty {
    left: 135px;
  }

}
