:root {
  --Pale-Blue: hsl(243, 100%, 93%);
  --Grayish-Blue: hsl(229, 7%, 55%);
  --Dark-Blue: hsl(228, 56%, 26%);
  --Very-Dark-Blue: hsl(229, 57%, 11%);
  --salmon: hsl(6, 100%, 80%);
  --pink: hsl(335, 100%, 65%);
}

body {
  font-family: "Raleway";
  font-size: 14px;
  height: 100vh;
  box-sizing: border-box;
  background-image: url(./images/bg-desktop.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-color: var(--Very-Dark-Blue);
  margin: 0px auto;
  margin-top: 20vh;
  max-width: 1440px;
  overflow: hidden;
  
}

main {
  /* padding: 288px 0px 310px 0px; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  
}

.container {
  place-content: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  grid-template-rows: 1fr 1fr;
  justify-self: center;
  align-self: center;
  gap: 30px;
  align-items: end;
  padding: 0px 260px;
}

.section-one {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  background-color: var(--Dark-Blue);
  justify-content: start;
  border-top-left-radius: 12px;
  border-top-right-radius: 66px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  padding: 38px 132px 38px 40px;
}

.elements {
  display: inline-block;
  text-align: left;
}

.logo {
  width: auto;
  max-width: 100%;
  margin-bottom: 30px;
}

.elements-properties {
  display: flex;
  gap: 15px;
}

.properties-icon {
  border: solid;
  border-style: none;
  padding: 12px 14px;
  background-color: var(--Very-Dark-Blue);
  border-radius: 10px;
  max-width: 100%;
  width: 24px;
  height: 24px;
}

.section-two {
  background-color: var(--Dark-Blue);
  display: grid;
  grid-template-rows: 1fr 1fr;
  border-radius: 12px;
  color: var(--Pale-Blue);
  padding: 40px 40px;
  width: 543px;
  height: 154px;
}

.usage {
  text-align: left;
}

.counter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-weight: 700;
}

.section-three {
  background-color: white;
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  left: 50%;
  bottom: 254%;
  padding: 22px 25px;
  border-radius: 8px;
  width: fit-content;
}

.gb {
  font-size: 40px;
  font-weight: 700;
  margin: 0px;
  color: var(--Very-Dark-Blue);
}

.condition {
  font-size: 12px;
  font-weight: 700;
  color: var(--Grayish-Blue);
  text-transform: uppercase;
  margin: 0px;
}
.usage-meter {
  /* padding: 15px 0px; */
  margin: 15px 0px;
}

.test {
  background-color: var(--Very-Dark-Blue);
  border-radius: 8px;
}

.empty {
  
  /* border: solid white;
    width: 2px;
    background-color: white;
    border-radius: 50%; */
    /* border: 3px solid white; */
    /* width: 8px; */
    /* background-color: white; */
    /* border-radius: 49%; */
    /* display: flex; */
    position: relative;
    /* justify-content: center;
    display: inline; */
    /* width: 77px; */
    /* position: relative;
    left: 110px; */
    /* width: 50%; */
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    left: 213px;
    border: solid white;
}

.meter {
    /* padding: 3px 0px; */
    /* color: var(--pink); */
    background-color: var(--pink);
    width: 228px;
    border-radius: 8px;
    border: solid var(--Very-Dark-Blue);
}
    




.count-min {
  justify-self: left;
}

.count-max {
  justify-self: right;
}

@media only screen and (max-width: 1024px) {

  .container {
    /* grid-template-rows: 1fr 1fr; */
    display: flex;
    flex-direction: column;
  }

  .section-three {
    bottom: -10%;
  }

  body {
    overflow: scroll;
  }

}
