:root {
  --Pale-Blue: hsl(243, 100%, 93%);
  --Grayish-Blue: hsl(229, 7%, 55%);
  --Dark-Blue: hsl(228, 56%, 26%);
  --Very-Dark-Blue: hsl(229, 57%, 11%);
  --salmon: hsl(6, 100%, 80%);
  --pink: hsl(335, 100%, 65%);
}

body {
  font-family: "Raleway";
  font-size: 14px;
  min-height: 100vh;
  box-sizing: border-box;
  background-image: url(./images/bg-desktop.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-color: var(--Very-Dark-Blue);
  margin: 0px auto;
  max-width: 1440px;
  overflow: hidden;
}

main {
  padding: 288px 0px 310px 0px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.container {
  place-content: center;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: center;
  align-self: center;
  gap: 30px;
  align-items: end;
  padding: 0px 260px;
}

.section-one {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  background-color: var(--Dark-Blue);
  justify-content: start;
  border-top-left-radius: 12px;
  border-top-right-radius: 66px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  padding: 38px 132px 38px 40px;
}

.elements {
  display: inline-block;
  text-align: left;
}

.logo {
  width: auto;
  max-width: 100%;
  margin-bottom: 30px;
}

.elements-properties {
  display: flex;
  gap: 15px;
}

.properties-icon {
  border: solid;
  border-style: none;
  padding: 12px 14px;
  background-color: var(--Very-Dark-Blue);
  border-radius: 10px;
  max-width: 100%;
  width: 24px;
  height: 24px;
}

.section-two {
  background-color: var(--Dark-Blue);
  display: grid;
  grid-template-rows: 1fr 1fr;
  border-radius: 12px;
  color: var(--Pale-Blue);
  padding: 40px 40px;
  width: 543px;
  height: 154px;
}

.usage {
  text-align: left;
}

.counter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-weight: 700;
}

.section-three {
  background-color: white;
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  left: 50%;
  bottom: 254%;
  padding: 22px 25px;
  border-radius: 8px;
  width: fit-content;
}

.gb {
  font-size: 40px;
  font-weight: 700;
  margin: 0px;
}

.condition {
  font-size: 12px;
  font-weight: 400;
  color: var(--Grayish-Blue);
  text-transform: uppercase;
  margin: 0px;
}
.usage-meter {
  padding: 15px 0px;
}

.empty {
  border: solid;
}

.meter {
  padding: 3px 0px;
  color: var(--pink);
  background-color: var(--Very-Dark-Blue);
}

.count-min {
  justify-self: left;
}

.count-max {
  justify-self: right;
}

@media only screen and (max-width: 1024px) {

  .container {
    /* grid-template-rows: 1fr 1fr; */
    display: flex;
    flex-direction: row;
  }

}
